
body {
  margin: 0;
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
  background-color: #967e66; 
  color: #F0F0F0;            
  text-align: center;
}


header {
  background-color: #b89a76;
  padding: 2rem 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

h1 {
  font-size: 2.5rem;
  color: #e5af4c; 
  margin-bottom: 0.5rem;
}

.intro-text {
  color: #F0F0F0;
  font-size: 1.1rem;
}


.mood-buttons {
  margin: 2rem 1rem;
}

.mood-btn {
  margin: 0.5rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #eec89d; 
  color: #0B132B;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.mood-btn:hover {
  background-color: #e6a121; 
}


.recommendation-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}


.card {
  background-color: #1e1e1e;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.08);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.015);
}


.poster {
  width: 100%;
  display: block;
  border-bottom: 1px solid #333;
}


.card-content {
  padding: 1.5rem;
  text-align: left;
}

.card-content h2 {
  color: #c68e25;
  margin-bottom: 0.5rem;
}

.card-content p {
  margin: 0.5rem 0;
  line-height: 1.5;
  color: #F0F0F0;
}


footer {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 0.9rem;
  color: #aaaaaa;
  border-top: 1px solid #222;
}
